.item {
	color: #ddd;
	width: 100%;
    background: transparent;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	white-space: pre-wrap;
    word-wrap: break-word; 
    font-family: Helvetica;
    font-size: 1.3em;
    line-height: 1.4em;
}