.DS_Store
node_modules/
__sapper__/
.firebase/
lib/
*.log
ssl-dev/

# dot/git symlinked from .git by init.py
dot/git

# e2e tests (see tests/e2e)
test-results/
playwright-report/
*-debug.log
.svelte-kit/
build/
